html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.header {
    background-color: $accent-color-1;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    height: 50px;
}

.header__filter {
    top: 50px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    min-height: 50px;
}

.header__filter-color {
    border: 4px solid #fff;
}

.header__top-name {
    font-size: 1.3rem;
}

.header__top-icon {
    font-size: 1.7rem;
    color: #fff;
}

.header__top-link:hover {
    text-decoration: none;
}

.notes__section {
    font-size: 1.2rem;
}

.note {
    background-color: $accent-color-4;
    color: #fff;
    transition:all .3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    min-height: 250px;
    position: relative;
}

.note:hover{
    box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
}

.note__title {
    font-size: 1rem;
    font-weight: 700;
}

.note__content {
    font-size: .9rem;
}

.note__icon {
    font-size: 1.3rem;
    color: #fff;
}

.note__icon:hover {
    cursor: pointer;
}

.note__date {
    font-weight: 700;
    font-size: .9rem;
}

.note__bottom-section {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.note__form {
    background-color: $accent-color-4;
}

.note__form-btn {
    font-size: 1.1rem;
    background-color: $body-bg;
}

.footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    font-size: 1rem;
    background-color: $accent-color-1;
    width: 100vw;
    font-weight: 600;
}
