html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.header {
    background-color: $accent-color-1;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.header__title {
    font-size: 2rem;
}

.header__add-icon {
    font-size: 2rem;
    color: #fff;
}

.card-title {
    font-size: 1.1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    font-size: 1rem;
    background-color: $accent-color-1;
    width: 100vw;
    font-weight: 600;
}

.note {
    background-color: $accent-color-4;
    color: #fff;
    transition:all .3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.note:hover{
    box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
}

.note__icon {
    font-size: 1.3rem;
    color: #fff;
}

.note_date {
    font-weight: 700;
}

.note__form {
    background-color: $accent-color-4;
}

.note__form-btn {
    font-size: 1.1rem;
    background-color: $body-bg;
}
